@import '/src/assets/styles/colors.scss';

.radio-group {
  display: inline-block;
  overflow: hidden;
  text-align: center;
}

.inputs-wrapper {
  text-align: center;
}

.select {
  text-align: center;
}

.cont {
  width: 90%;
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $color-border-light-grey;
}
