$color-text-grey: #5c5b66;
$color-text-head-light-blue: #59a2e7;
$color-text-head-grey: #5c5b5c;
$color-border-light-grey: #c4c4c4;
$color-text-error: #f00;
$color-white: #fff;
$color-background: #4a90e2;
