@import 'reset-css/sass/_reset.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:global {
  html,
  body,
  #root {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    height: 100%;
  }

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
    border: none;
    outline: 0;
    padding: 0;
  }
}
